# Java-related
*.class
*.jar
*.war
*.ear

# IDEs
/.idea/
/*.iml
/out/
/.settings/
/bin/
/.project
/.classpath
/nbproject/private/
/build/
/dist/

# Build tools
/target/
/.gradle/
/build/

# Logs
*.log
*.log.*
*.out
*.tmp

# Temporary files
*.swp
*.swo
*.bak
*.orig

# OS-specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

# Sensitive data
.env
